.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #ffffff;
}
.score {
  font-size: $fsz-2;
}
.game-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 10px;
}
.game-map__item {
  padding: 0 30px;
  line-height: 3rem;
  background-color: aquamarine;
  border-radius: 10px;
}
.game-map__item:nth-child(1) {
  padding: 0 30px;
  line-height: 3rem;
  background-color: red;
}
