.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px 25px;
  @media screen and (max-width: $tiny) {
    padding: 20px 10px;
  }
}
.header__score {
  font-size: $fsz-2;
}
.header__game-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}
.header__game-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: $map;
}
.header__game-item:nth-child(1) {
  text-align: center;
  background-color: $active;
}
