.btn {
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  background-color: $block;
  border: none;
  outline: 1px solid $item;
  cursor: pointer;
}

.btn-active {
  width: 100%;
  margin-bottom: 40px;
  padding: 10px;
  background-color: $active;
  border: none;
  outline: 1px solid $item;
  cursor: pointer;
}

.btn-active:hover {
  background-color: $map;
}

.the-end__btn-congrats,
.the-end__btn-certificate {
  width: 80%;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
  background-color: $active;
  border: none;
  cursor: pointer;
}

.the-end__btn-congrats:hover,
.the-end__btn-certificate:hover {
  background-color: $map;
}
