$font-1: "Roboto", sans-serif;
$primary-fsz: 0.875rem; //14px
$fsz-1: 1rem;
$fsz-2: 1.25rem;
$width-1: 1440px;
$width-2: 1050px;
$width-3: 860px;
$root-color: #222222;
$second-color: #eceb9e;
$third-color: #e3b873;
$forth-color: #4d4848;
$fifth-color: #959595;
$none: none;
$pos-rel: relative;
$pos-a: absolute;
$autom: 0 auto;
