// Fonts
$font: "Roboto", Arial, sans-serif;
$primary-fsz: 0.875rem; //14px
$fsz-1: 1rem;
$fsz-2: 1.2rem;
$fsz-3: 2rem;

// Breakpoints
$wide: 1200px;
$large: 1024px;
$normal: 960px;
$medium: 768px;
$small: 460px;
$tiny: 375px;

// Position
$pos-rel: relative;
$pos-a: absolute;

// Colors
$root: #222222;
$block: #303030;
$item: #808080;
$map: #009b76;
$active: #00bc8c;
$white: #ffffff;
